/*CSS Stylesheet.css*/
@font-face {
   font-family: ghFont;
   src: url(Brandon_reg.otf);
}
body{
  font-family: ghFont,sans-serif;
  margin: 0px;
  background-color: rgb(17,17,17);
  color: rgb(255,255,255);
}
h3{ /**/
  margin: 0px;
  padding: 20px 0px 30px 0px;
  color: rgb(255,126,41);
}
img{
  margin-top: 10px;
}
ul{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: center;
  float: right;
}
li{
  margin-top: 20px;
  float: left;
  display: inline;
}
li a{
  display: block;
  padding: 20px 20px 20px 20px;
  color: rgb(255,126,41);
  text-decoration: none;
}
#topbar{ /**/
  height: 100px;
  padding: 0px 0px 0px 0px;
  background-color: rgb(28,28,28);
  vertical-align: middle;
}

#textForm{
  display: inline-block;
  background-color: rgb(28,28,28);
  padding: 5px 20px 5px 20px;
  position: relative;
  margin: 0px;
  border-radius: 5px;
}

.content{
  margin-top: 50px;
  text-align: center;
}
/*index.php and register.php form divs*/
#inputButtonDiv{
  padding: 0px;
  margin-bottom: 10px;
  position: relative;
}
#inputTextDiv{
  padding: 0px;
  margin-bottom: 5px;
  position: relative;
}

p{
  margin: 15px 0px 15px 0px;
  padding: 5px;
}

/*Login button in index.php and register button in register.php*/
#formButton{
  width: 200px;
  height: 30px;
  border: 0px;
  border-radius: 3px;
  background-color: rgb(255,126,41);
  color: rgb(255,255,255);
  font-size: 15px;
}

/*Login input text fields index.php and register.php*/
#user{
  color: rgb(255,255,255);
  width: 182px;
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 2px 0px 5px 0px;
  background-color: rgb(50,50,50);
}
#user:focus{
  color: rgb(255,255,255);
}
#pass{
  color: rgb(255,255,255);
  width: 182px;
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 2px 0px 5px 0px;
  background-color: rgb(50,50,50);
}
#pass:focus{
  color: rgb(255,255,255);
}

#chart{
  background-color: rgba(28,28,28,0.5);
  padding: 10px;
}
